/* styles.css */
.calendar2 {
    width: 300px;
    
  }
  
div {
    border: 2px solid black; /* This sets a 2px solid black border */

}
td{
    border: 2px solid blue; /* This sets a 2px solid black border */
}
.day {
padding: 20px;
border-radius: 360px;
background-color: gray; 
cursor: pointer;
transition: background-color 0.3s;
}

.day:hover {
background-color: #e9ecef; /* Slightly darker gray on hover */
}

.day-header {
padding-left: 20px;
border-radius: 4px;
background-color: #f8f9fa; /* Light gray background for day headers */
color: black;
}
